<footer class="footer">
  <div class="container-fluid mt-5 bg-mine" *ngIf="user">
    <div class="row">
      <div
        class="col-10 offset-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 d-flex justify-content-between py-5 fs-5 my-foot"
      >
        <div>
          <a
            href="https://github.com/AleAngheben"
            class="text-white text-decoration-none"
            ><span><i class="bi bi-github"></i></span
            ><span class="ms-1">GitHub</span></a
          >
        </div>
        <div>
          <a
            href="https://www.linkedin.com/in/alessandro-angheben-developer/"
            class="text-white text-decoration-none"
            ><span><i class="bi bi-linkedin"></i></span
            ><span class="ms-1">Linkedin</span></a
          >
        </div>
        <div>
          <a
            href="https://www.instagram.com/aleangheben/"
            class="text-white text-decoration-none"
            ><span><i class="bi bi-instagram"></i></span
            ><span class="ms-1">Instagram</span></a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
