.bg-mine {
  background-color: #603eab;
}
:host {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}
.my-foot {
  @media (max-width: 450px) {
    flex-direction: column;
    align-items: center;
    gap: 10px; // Mostra il footer quando la larghezza dello schermo è inferiore o uguale a 450px
  }
}
