.name {
  font-size: 90px;
  font-weight: bold;
}
.description {
  font-size: 30px;
}
.price {
  font-size: 30px;
}
.tag {
  background-color: #603eab;
}
.my-details {
  padding: 3rem;
}

@media screen and (max-width: 1199px) {
  .name {
    font-size: 70px;
  }
}
@media screen and (min-width: 992px) {
  .name {
    font-size: 70px;
  }
  .second {
    border-left: 2px solid #603eab;
  }
}
@media screen and (max-width: 991px) {
  .first {
    border-bottom: 2px solid #603eab;
  }
}
@media screen and (max-width: 767px) {
  .name {
    font-size: 60px;
  }
}
@media screen and (min-width: 576px) {
  .name {
    font-size: 60px;
  }
}
@media screen and (max-width: 575px) {
  .name {
    font-size: 45px;
  }
  .description {
    font-size: 25px;
  }
}
@media screen and (max-width: 477px) {
  .name {
    font-size: 25px;
    margin-top: 1rem;
  }
  .description {
    font-size: 18px;
  }
  .tag {
    font-size: 10px;
  }
}
.my-btn {
  position: fixed;
  top: 128px;
  left: 20px;
  z-index: 999;
  background-color: #603eab;
  color: white;
}
