.name {
  font-size: 90px;
  font-weight: bold;
}
.description {
  font-size: 30px;
}
.price {
  font-size: 30px;
}
.tag {
  background-color: #603eab;
}
.my-details {
  border: 3px solid black;
  padding: 3rem;
}

@media screen and (max-width: 1199px) {
  .name {
    font-size: 70px;
  }
}
@media screen and (min-width: 992px) {
  .name {
    font-size: 70px;
  }
}
@media screen and (max-width: 767px) {
  .name {
    font-size: 60px;
  }
}
@media screen and (min-width: 576px) {
  .name {
    font-size: 60px;
  }
}
@media screen and (max-width: 575px) {
  .name {
    font-size: 45px;
  }
  .description {
    font-size: 25px;
  }
}
