<div class="container mt-5">
  <div class="row pt-5 my-details gap-5 gap-lg-0" *ngIf="product">
    <div class="col-8 offset-2 col-lg-5 offset-lg-0">
      <img src="{{ product.productImg }}" alt="" class="w-100" />
    </div>
    <div class="col-12 col-lg-7">
      <button class="btn rounded-5 text-white tag">{{ product.type }}</button>

      <span class="d-block name">{{ product.name }}</span>
      <p class="description">{{ product.description }}</p>
      <p class="mt-5 fs-3 mb-0">Price:</p>
      <p class="price">{{ product.price }} €</p>
    </div>
  </div>
</div>
<div>
  <button class="btn my-btn rounded-5" [routerLink]="['/home']">
    <i class="bi bi-arrow-left-circle fs-3"></i>
  </button>
</div>
