:host {
  font-size: 23px;
  font-weight: bold;
}

.bg-mine {
  background-color: #603eab;
}

#my-logo {
  width: 200px;
  border-radius: 10%;
}

img {
  filter: brightness(100) grayscale(0);
}

nav {
  height: 5rem;
}

@media screen and (max-width: 991px) {
  a {
    color: white;
  }
  .navbar-collapse {
    z-index: 200;
    background-color: #603eab;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 992px) {
  a {
    color: white;
  }
}

.nav-link.active {
  color: #8eccb0;
}
.nav-link:hover {
  color: #8eccb0;
}

.fs-icon {
  font-size: 30px;
  margin-top: 3px;
}
.profile-icon:active {
  border: none;
}
#hamburger:focus-visible {
  border: none;
  outline: none;
}
.fs-add {
  font-size: 25px;
  margin-top: 3px;
}
