<nav class="navbar navbar-expand-lg bg-mine position-fixed fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand pb-0" href="#"
      ><img
        src="../../../assets/imgs/SwiftCartLogo.png"
        id="my-logo"
        alt=""
        [routerLink]="['/home']"
    /></a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      *ngIf="user"
      id="hamburger"
    >
      <i class="bi bi-list text-white fs-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav"></ul>

      <div class="ms-auto d-none d-lg-flex text-white align-items-center gap-3">
        <div class="d-none d-lg-block fs-add">
          <a (click)="openBackoffice()" class="fs-add pointer"
            ><i class="bi bi-plus-circle fs-add"></i
          ></a>
        </div>
        <div class="dropdown">
          <a
            class="btn border-0 profile-icon p-0 fs-icon"
            href="#"
            role="button"
            id="profileDropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="bi bi-person fs-icon" *ngIf="user"></i
          ></a>
          <ul
            class="dropdown-menu dropdown-menu-end p-2 fs-5"
            aria-labelledby="profileDropdownMenuLink"
          >
            <li *ngIf="user">
              <a class="dropdown-item text-black" [routerLink]="['/profile']"
                >Profile</a
              >
            </li>
            <li *ngIf="user">
              <button class="dropdown-item text-danger" (click)="logout()">
                Logout
              </button>
            </li>
          </ul>
        </div>
        <div>
          <a [routerLink]="['/cart']"
            ><i class="bi bi-cart fs-3" *ngIf="user"></i
          ></a>
        </div>
      </div>
      <div class="d-lg-none">
        <div class="mb-2">
          <a [routerLink]="['/profile']" class="text-decoration-none"
            >Profile</a
          >
        </div>
        <div class="mb-2 text-decoration-none">
          <a [routerLink]="['/cart']" class="text-decoration-none">Cart</a>
        </div>
        <div>
          <a (click)="logout()" class="text-danger text-decoration-none"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
