<div class="container mt-6 mb-3">
  <div class="row justify-content-center">
    <div class="d-none d-lg-block col-lg-4 bg-mine">
      <div class="d-flex flex-column mt-6">
        <div>
          <h3 class="mt-6 text-center pt-3 text-white" id="register-head">
            Hai già un account?
          </h3>
        </div>
        <div>
          <p class="my-display mt-5 fw-medium px-5 text-white">
            Accedi subito per non perderti le ultime novità e gli ultimi
            prodotti caricati per ogni categoria!
          </p>
        </div>
        <div class="text-center mt-5">
          <button
            type="submit"
            class="btn bg-body-tertiary p-2 px-4 fw-bold my-color"
            routerLink="/login"
            id="register-btn"
          >
            <i class="bi bi-arrow-left"></i> <span>Accedi!</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 bg-body-tertiary p-0 py-2">
      <div class="col-lg-8 offset-lg-2 bg-body-tertiary my-3">
        <h3 class="text-center">Registrati subito!</h3>
        <div class="div-form" class="py-1 px-5 px-lg-0">
          <form [formGroup]="subscribeForm" (ngSubmit)="onRegister()">
            <div class="mb-3">
              <label for="inputName" class="form-label">Nome </label>
              <input
                type="text"
                name="name"
                class="form-control"
                id="inputName"
                formControlName="name"
              />
            </div>
            <div class="mb-3">
              <label for="inputSurname" class="form-label">Cognome</label>
              <input
                type="text"
                name="surname"
                class="form-control"
                id="inputSurname"
                formControlName="surname"
              />
            </div>
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="inputEmail"
                formControlName="email"
              />
            </div>
            <div class="mb-3">
              <label for="inputUsername" class="form-label">Username</label>
              <input
                type="text"
                name="username"
                class="form-control"
                id="inputUsername"
                formControlName="username"
              />
            </div>
            <div class="mb-3 position-relative">
              <label for="inputPassword" class="form-label">Password</label>
              <input
                (input)="confirmPasswordCorrected()"
                type="password"
                name="password"
                class="form-control"
                id="inputPassword"
                formControlName="password"
              />
              <span
                class="position-absolute end-0 top-50 pe-2 fs-5"
                *ngIf="passwordVisible"
              >
                <i class="bi bi-eye" (click)="togglePasswordVisibility()"></i>
              </span>
              <span
                class="position-absolute end-0 top-50 pe-2 fs-5"
                *ngIf="!passwordVisible"
              >
                <i
                  class="bi bi-eye-slash"
                  (click)="togglePasswordVisibility()"
                ></i>
              </span>
            </div>
            <div class="position-relative">
              <label for="inputConfirmPassword" class="form-label"
                >Conferma password</label
              >
              <input
                (input)="confirmPasswordCorrected()"
                type="password"
                name="confirmPassword"
                class="form-control"
                id="inputConfirmPassword"
                formControlName="confirmPassword"
              />
              <span
                class="position-absolute end-0 top-50 pe-2 fs-5"
                *ngIf="passwordConfirmVisible"
              >
                <i
                  class="bi bi-eye"
                  (click)="togglePasswordVisibilityConfirm()"
                ></i>
              </span>
              <span
                class="position-absolute end-0 top-50 pe-2 fs-5"
                *ngIf="!passwordConfirmVisible"
              >
                <i
                  class="bi bi-eye-slash"
                  (click)="togglePasswordVisibilityConfirm()"
                ></i>
              </span>
            </div>
            <p
              class="text-danger position-absolute"
              *ngIf="
                !confirmPass$.getValue() &&
                subscribeForm.controls['confirmPassword'].touched
              "
            >
              La conferma non corrisponde alla password inserita
            </p>

            <button
              type="submit"
              class="btn border-0 bg-mine p-2 px-4 fw-bold mt-5"
              style="color: white"
              [disabled]="!subscribeForm.valid"
            >
              <span>Conferma</span>
            </button>
          </form>
        </div>
        <h5 class="ps-5 pt-4" id="second-register">
          Hai già un account?
          <a href="/login" class="text-decoration-none my-color">Accedi !</a>
        </h5>
      </div>
    </div>
  </div>
</div>
