.dialog-content {
  z-index: 9;
  overflow-y: auto; /* Abilita lo scrolling verticale quando il contenuto supera le dimensioni del dialogo */
  max-height: calc(100vh - 5rem);

  position: sticky;
  top: 5rem;
}
:host {
  z-index: 9;
  position: sticky;
  top: 5rem;
}
input,
textarea,
select {
  margin-bottom: 2rem;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.hero-btn {
  background-color: white;
  border-color: #603eab;
  color: #603eab;
  font-weight: bold;
}
.hero-btn:hover {
  background-color: #603eab;
  border-color: transparent;
  color: white;
  font-weight: bold;
}
:host {
  max-height: calc(100vh - 10rem);
  overflow-y: scroll;
  margin-top: 5rem;
}
