:host {
  z-index: 9;
  position: sticky;
  top: 5rem;
  max-height: calc(100vh - 5rem);
}
input,
textarea,
select {
  margin-bottom: 2rem;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.hero-btn {
  background-color: #603eab;

  color: white;
  font-weight: bold;
}
