<div class="w-100 mb-5 my-hero">
  <p class="text-center pt-5 hero-title">VENDI - COMPRA - RISPARMIA !</p>
  <div class="d-flex justify-content-center gap-5 pt-3">
    <button class="hero-btn btn rounded-5 p-2 px-4">
      <a [routerLink]="['/cart']">CARRELLO</a>
    </button>
    <button class="hero-btn btn rounded-5 p-2 px-4">
      <a [routerLink]="['/profile']">PROFILO</a>
    </button>
    <button class="hero-btn btn rounded-5 p-2 px-4" (click)="openBackoffice()">
      VENDI
    </button>
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-center gap-5 gap-lg-2">
    <ng-container *ngFor="let product of products">
      <div
        class="card product-card col-12 col-md-6 col-lg-4 col-xl-3 p-0 pointer"
        *ngIf="product.seller.id !== user?.id"
      >
        <button
          class="btn btn-danger position-absolute m-1 end-0 delete-btn"
          (click)="deleteProduct(product.id)"
          *ngIf="isAdmin"
        >
          X
        </button>

        <img
          src="{{ product.productImg }}"
          class="card-img-top product-img"
          alt="{{ product.name }}"
        />

        <div class="card-body product-body" (click)="onCardClick(product.id)">
          <div class="d-flex justify-content-between">
            <div>
              <h5 class="card-title">
                {{ product.name }}
              </h5>
            </div>
            <div>
              <span><i class="bi bi-heart"></i></span>
            </div>
          </div>
          <p class="card-text">
            {{ product.seller.username }}
          </p>
          <p class="card-text fs-3">{{ product.price }} €</p>

          <button
            (click)="addToCart(product.id)"
            class="btn bg-mine text-white w-100"
            id="buyable"
            [disabled]="user.id === product.seller.id"
          >
            Add to Cart
          </button>
          <!-- <button (click)="onCardClick(product.id)" class="btn btn-primary">
            INFO
          </button> -->
        </div>
      </div>
    </ng-container>
  </div>
</div>
