<div class="w-100 my-hero py-4 p-mine">
  <div
    class="d-flex justify-content-between align-items-center flex-column-reverse flex-sm-row gap-3"
  >
    <div class="d-none d-lg-block">
      <div class="d-block mb-2 d-xl-inline">
        <span
          class="fs-5 ms-3 choose pointer my-color"
          [ngClass]="{ active: type === '' }"
          (click)="setType('all')"
          >All</span
        >
        <span
          class="ms-3 fs-5 choose pointer my-color"
          [ngClass]="{ active: type === 'CLOTHING' }"
          (click)="setType('clothing')"
          >Clothing</span
        >
        <span
          class="ms-3 fs-5 choose pointer my-color"
          [ngClass]="{ active: type === 'SPORT' }"
          (click)="setType('sport')"
          >Sport</span
        >
        <span
          class="ms-3 fs-5 choose pointer my-color"
          [ngClass]="{ active: type === 'VIDEOGAMES' }"
          (click)="setType('videogames')"
          >Videogames</span
        >
        <span
          class="ms-3 fs-5 choose pointer my-color"
          [ngClass]="{ active: type === 'TOYS' }"
          (click)="setType('toys')"
          >Toys</span
        >
      </div>
      <span
        class="ms-3 fs-5 choose pointer my-color"
        [ngClass]="{ active: type === 'MUSIC' }"
        (click)="setType('music')"
        >Music</span
      >
      <span
        class="ms-3 fs-5 choose pointer my-color"
        [ngClass]="{ active: type === 'FURNITURE' }"
        (click)="setType('furniture')"
        >Furniture</span
      >
      <span
        class="ms-3 fs-5 choose pointer my-color"
        [ngClass]="{ active: type === 'PET_SUPPLIES' }"
        (click)="setType('PET_SUPPLIES')"
        >Pets</span
      >
      <span
        class="ms-3 fs-5 choose pointer my-color"
        [ngClass]="{ active: type === 'ELECTRONICS' }"
        (click)="setType('electronics')"
        >Electronics</span
      >
      <span
        class="ms-3 fs-5 choose pointer my-color"
        [ngClass]="{ active: type === 'BOOKS' }"
        (click)="setType('books')"
        >Books</span
      >
      <span
        class="ms-3 fs-5 choose pointer my-color"
        [ngClass]="{ active: type === 'OTHER' }"
        (click)="setType('other')"
        >Other</span
      >
    </div>
    <div class="d-lg-none">
      <select
        class="form-select border-0 rounded-3 p-2 pe-5 w-100"
        [(ngModel)]="type"
        (change)="searchProductsOnChange()"
      >
        <option value="" selected>All categories</option>
        <option *ngFor="let category of productCategories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>
    <div class="position-relative">
      <input
        type="text"
        [(ngModel)]="name"
        placeholder="Product name"
        (input)="searchProductsOnChange()"
        id="search"
        class="border-0 rounded-3 p-2 w-100 pe-5 me-5"
      /><i
        *ngIf="name"
        class="bi bi-x-lg position-absolute end-0 top-50 translate-middle-y pe-3 pointer fs-5"
        (click)="clearSearch()"
      ></i>
      <i
        *ngIf="!name"
        class="bi bi-search position-absolute end-0 top-50 translate-middle-y pe-3 fs-5"
      ></i>
    </div>
  </div>
</div>
<div class="container mt-5" *ngIf="products.length > 0; else noProducts">
  <div class="row justify-content-center gap-5 gap-lg-2">
    <ng-container *ngFor="let product of products">
      <div
        class="card product-card col-12 col-md-6 col-lg-4 col-xl-3 p-0 pointer"
        *ngIf="product.seller.id !== user?.id"
      >
        <button
          class="btn btn-danger position-absolute m-1 end-0 delete-btn"
          (click)="deleteProduct(product.id)"
          *ngIf="isAdmin"
        >
          X
        </button>

        <img
          src="{{ product.productImg }}"
          class="card-img-top product-img"
          alt="{{ product.name }}"
          (click)="onCardClick(product.id)"
        />

        <div class="card-body product-body">
          <div class="d-flex justify-content-between">
            <div>
              <h5 class="card-title">
                {{ product.name }}
              </h5>
            </div>
            <div>
              <span
                ><i
                  class="bi bi-info-circle"
                  (click)="onCardClick(product.id)"
                ></i
              ></span>
            </div>
          </div>
          <p class="card-text">
            {{ product.seller.username }}
          </p>
          <p class="card-text fs-3">{{ product.price }} €</p>

          <button
            (click)="addToCart(product.id)"
            class="btn bg-mine text-white w-100"
            id="buyable"
            [disabled]="user.id === product.seller.id"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <button class="d-lg-none btn add-btn rounded-5" (click)="openBackoffice()">
    <i class="bi bi-plus-circle fs-3"></i>
  </button>
  <button
    class="btn back-to-top-btn rounded-5"
    (click)="scrollToTop()"
    *ngIf="showBackToTopBtn"
  >
    <i class="bi bi-arrow-up-circle fs-3"></i>
  </button>
</div>
<ng-template #noProducts>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col">
        <h1 class="text-center">
          Non ci sono prodotti appartenenti alla categoria
          {{ type.toLocaleLowerCase() }} !
        </h1>
      </div>
    </div>
  </div>
</ng-template>
