.sus-title {
  font-size: 120px;
}

.hero-btn {
  background-color: white;
  border-color: #603eab;
  color: #603eab;
  font-weight: bold;
}
.hero-btn:hover {
  background-color: #603eab;
  border-color: transparent;
  color: white;
  font-weight: bold;
}
.hero-btn > a {
  text-decoration: none;
  color: #603eab;
}

.hero-btn:hover > a {
  color: white;
}
@media screen and (max-width: 500px) {
  .sus-title {
    font-size: 60px;
  }
  .fs-1-mine {
    font-size: 20px;
  }
  .fs-3-mine {
    font-size: 15px;
  }
}
@media screen and (min-width: 501px) {
  .fs-1-mine {
    font-size: 30px;
  }
  .fs-3-mine {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .fs-1-mine {
    font-size: 40px;
  }
  .fs-3-mine {
    font-size: 30px;
  }
}
