<div class="container">
  <div class="row d-flex flex-column align-items-center">
    <div class="col-6 col-lg-3 text-center mt-5">
      <img src="../../../assets/imgs/success.jpg" alt="" class="w-75" />
    </div>
    <div class="col-10 text-center">
      <span class="text-center sus-title">Success!</span>
    </div>
    <div class="col-12 text-center">
      <span class="fs-1-mine"
        >Your request has been processed successfully</span
      >
    </div>
    <div class="col-12 text-center fs-3-mine">
      <span>You'll receive a confirmation email shortly.</span>
    </div>
    <div class="col-12 text-center mt-4">
      <button class="hero-btn btn rounded-5 p-2 px-4">
        <a [routerLink]="['/home']">Continue Shopping</a>
      </button>
    </div>
  </div>
</div>
