<form [formGroup]="productDataForm" (ngSubmit)="updateProduct()">
  <div class="form-group">
    <label for="name">Nome prodotto:</label>
    <input formControlName="name" type="text" class="form-control" id="name" />
  </div>
  <div class="form-group">
    <label for="description">Descrizione:</label>
    <textarea
      formControlName="description"
      class="form-control"
      id="description"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="price">Prezzo:</label>
    <input
      formControlName="price"
      type="number"
      class="form-control"
      id="price"
    />
  </div>
  <div class="form-group">
    <label for="type">Categoria:</label>
    <select
      formControlName="type"
      class="form-select"
      aria-label="Default select example"
      id="type"
    >
      <option value="VIDEOGAMES">VIDEOGAMES</option>
      <option value="BABY">BABY</option>
      <option value="BOOKS">BOOKS</option>
      <option value="ELECTRONICS">ELECTRONICS</option>
      <option value="CLOTHING">CLOTHING</option>
      <option value="BEAUTY">BEAUTY</option>
      <option value="SPORT">SPORT</option>
    </select>
  </div>
  <!-- <div class="form-group">
    <label for="productImg">Immagine:</label>
    <input
      type="file"
      class="form-control"
      id="productImg"
      (change)="onFileSelected($event)"
    />
  </div> -->

  <button type="submit" class="btn btn-primary">Salva</button>
</form>
